  <body class = "midashi">
    <h2 class="conver">メッセージを送った相手</h2>
  </div>
  <div class ="other">
    <% @conversations.each do |conversation| %>
      <div>
        <% if conversation.target_user(current_user).present? %>
          <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation), class: "conver_name"%>
          <hr>
        <% end %>
      </div>
    <% end %>
  </body>



