
<body class="video-container">
  <video src="/video1.mp4" autoplay playsinline muted loop></video>
  <div class="video-sidebar">
    <img src = "/close-up-photography-of-two-starbucks-disposable-cups-1004040.jpg", class= "pi"><p class= "co">Connect</p>
    <nav class="menu">
      <ol>
        <% if user_signed_in? %>
        <li class="menu-item"><a href="/conversations">会話</a></li>
        <li class="menu-item"><a href="/users">ユーザー一覧</a></li>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <% if current_user.name.present? %>
              <li><%= link_to "情報変更", edit_user_path(current_user.id) %></li>
            <% else%>
              <li><%= link_to "情報設定", enter_users_path%></li>
            <% end %>
        <h1 class="meeting">素敵な出会いがありますように</h1>
        <h1>恋愛マッチングサービス</h1>
        <% else %>
        <li class="menu-item"><a href="/users/sign_up">新規登録</a></li>
        <li class="menu-item"> <a href="/users/sign_in">ログイン</a></li>
        <% end %>
    </ol>
    </nav>
  </div>
</body>




<%# <h1 class = "intro">様々な人と繋がるチャットアプリ</h1>
<h1 class = "chat">話してみたいユーザーとチャットしてみよう!</h1>
<h1 class = "cli">まずは下のボタンを押して様々な人と会話してみよう!</h1> %>



