/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_tree .
 *= require_self
 */

 li {
  list-style: none;
}


* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.box {
  width: 350px;
  height: 500px;
  margin: 60px auto 0;
  border-radius: 4px;
  border: 1px #ddd solid;
}


.form-control {
  width: 400px;
  height: 500px;
  margin-left: 37%;
}

.box-inner {
  padding: 20px 26px;
}


h1 {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 10px;
  padding-bottom: 4px;
  color: #111111;
}

.box-email {
  margin-bottom: 13px;
}

.box-password {
  margin-bottom: 22px;
}

.edit-email {
  margin-bottom: 13px;
}

.edit-password {
  margin-bottom: 22px;
}

.box-email label, .box-password label {
  font-weight: 700px;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.edit-email label, .edit-password label {
  font-weight: 700px;
  font-size: 13px;
  padding-left: 2px;
  padding-bottom: 2px;
}

.box-email input[type="email"], .box-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.edit-email input[type="email"], .edit-password input[type="password"] {
  border-style: none;
  box-sizing: border-box;
  width: 30%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}



.column-right {
  float: right;
}

.box-password a {
  font-size: 13px;
}

.box-login {
  margin-bottom: 26px;
}

.box-login input[type="submit"] {
  border-style: none;
  width: 100%;
  height: 31px;
  background: linear-gradient(to bottom,#f7dfa5,#f0c14b);
  border-radius: 3px;
  border: 1px #a88734 solid;
  margin-top: 20px;
}

.box-login input[type="submit"]:hover {
  cursor: pointer;
  background: #f0c14b;
}

.legal-text {
  margin-top: 18px;
  font-size: 12px;
}

.remember {
  font-size: 13px;
  margin-top: 18px;
  padding-left: 3px;
}

.box-newusr p {
  text-align: center;
  font-size: 12px;
  color: #767676;
  margin-bottom: 14px;
}

.box-newusr p span {
  text-decoration: line-through;
  text-decoration-color: #e7e7e7;
}

.box-newusr a {
  display: block;
  width: 100%;
  height: 31px;
  font-size: 13px;
  color: #111;
  line-height: 31px;
  text-align: center;
  background: linear-gradient(to bottom,#f7f8fa,#e7e9ec);
  border-radius: 3px;
  border: 1px #a2a6ac solid;
}

.box-newusr a:hover {
  background: #e7e9ec;
}


.box-name input[type="text"] {
  border-style: none;
  box-sizing: border-box;
  width: 100%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}

.edit-name input[type="text"] {
  border-style: none;
  box-sizing: border-box;
  width: 30%;
  height: 31px;
  border: 1px solid #a6a6a6;
  box-shadow: 0 1px 0 rgba(0,0,0,.07) inset;
  border-radius: 3px;
  padding: 0 7px;
}





.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #000066;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.reset {
  margin-bottom: 20px;
}


.cp_sidebarmenu {
	position: absolute;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 3.5em;
	height: 100%;
	-webkit-transition: width 0.6s ease;
					transition: width 0.6s ease;
	-webkit-transform: translateZ(0) scale(1,1);
	border-right: 1px solid #e5e5e5;
  background: #37474F;
}
.cp_sidebarmenu:hover {
	overflow: visible;
	width: 17em;
}
.cp_sidebarmenu ul {
	margin: 7px 0;
	padding: 0;
	outline: 0;
}
.cp_sidebarmenu li {
	position: relative;
	display: block;
	width: 17em;
	margin: 0;
	padding: 0;
	outline: 0;
}
.cp_sidebarmenu li a {
	position: relative;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	text-decoration: none;
	color: #ffffff;
}
.cp_sidebarmenu li:before {
	content:"";
	position: absolute;
	top: 0px;
	left: -17em;
	height: 100%;
	width: 17em;
	background : rgba(240,98,146 ,0.5);
	-webkit-transition: all 0.6s ease;
					transition: all 0.6s ease;
}
.cp_sidebarmenu li:hover:before {
	left:0;
}
.cp_sidebarmenu span {
	position: relative;
	display: table-cell;
	width: 14em;
	vertical-align: middle;
}
.cp_sidebarmenu > ul.control {
	position: absolute;
	bottom: 0;
	left: 0;
}
.cp_sidebarmenu ul li i {
	font-size: 1.5em;
	display: inline-block;
	padding: 0.5em;
	vertical-align: middle;
}


.conver {
  text-align: center;
  font-size: 30px;
  
  margin-bottom: 30px;
}


.user {
  
  font-size: 20px;
  display: block;
  background-color:#e6e6fa;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #eee;
  width: 100%;
  padding: 1em;
  text-align: center;
}

.us {
  font-size: 40px;
}



textarea {
  resize: none;
  width:400px;
  height:200px;
}


.send {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 14pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #7ac8ce;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}


.send:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #000066;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

.sending {
  text-align: center;
}





.cp_link {
	position: relative;
	padding: 0.1em 0.3em;
	display: inline-block;
	transition: .3s;
  color: #00ACC1;
  margin-left: 180px;
  margin-top: 50px;
  font-size: 20px;
  margin-left: 700px;
}
.cp_link::before,
.cp_link::after {
	position: absolute;
	content: '';
	width: 0;
	height: 1px;
	background-color: #00ACC1;
	transition: .3s;
}
.cp_link::before {
	top: 0;
	left: 0;
}
.cp_link::after {
	bottom: 0;
	right: 0;
}
.cp_link:hover::before,
.cp_link:hover::after {
	width: 100%;
}

.conver_name {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 300px;
}



.conver_name:hover {
	color: #fff;
	background-color: #00BCD4;
}




.link3 {
  font-size: 30px;
  margin-top: 50px;
  margin-right: 20px;
}

.mes {
  font-size: 25px;
  background-color: #99cc00;
}

.link4 {
  margin-top: 50px;
  

}
















.mes {
  display: inline-block;
  text-align:center;
  padding: 20px 40px;
  color: white;
  transition: 300ms ease-in-out;
  box-shadow: 0px 4px 20px #ccc;
  font-size: 22px;
  margin-top: 20px;
  
}
  .mes:hover {
    transform: translateY(-3px);
    box-shadow: 0px 2px 20px #777;
  }


.green {
  background-color: #99cc00;
  border-bottom: 3px solid #669900;
}


.alert {
  text-align: center;
}


.mess {
  margin-left: 21%;
  font-size: 40px;
}


.header {
  background-color:#add8e6;
  
}


.names {
  margin-left: 670px;
}


.con {
  margin-left: 250px;
  margin-top: 50px;
}




#page_top{
  width: 50px;
  height: 50px;
  position: fixed;
  right: 0;
  bottom: 50px;
  background: #3f98ef;
  opacity: 0.6;
  border-radius: 50%;
}
#page_top a{
  position: relative;
  display: block;
  width: 50px;
  height: 50px;
  text-decoration: none;
}
#page_top a::before{
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
  content:'\25B2';
  font-size: 25px;
  color: #fff;
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
}
.menu {
  margin: 15px;
}
.menu > ol {
  list-style: none;
  margin: 30px 0;
  padding: 0;
}
.menu > ol > li {
  background: #3c3c3c;
  border-left: 5px solid var(--gradient-color);
  margin-bottom: 1px;
  position: relative;
  transition: 0.5s;
}
.menu > ol > li:nth-child(1) {
  --accent-color: #FDA085;
  --gradient-color: #F6D365;
}
.menu > ol > li:nth-child(2) {
  --accent-color: #BFF098;
  --gradient-color: #6FD6FF;
}
.menu > ol > li:nth-child(3) {
  --accent-color: #EA8D8D;
  --gradient-color: #A890FE;
}
.menu > ol > li:nth-child(4) {
  --accent-color: #D8B5FF;
  --gradient-color: #1EAE98;
}
.menu > ol > li:nth-child(5) {
  --accent-color: #C6EA8D;
  --gradient-color: #FE90AF;
}
.menu > ol >li:nth-child(6) {
  --accent-color: rgb(141, 174, 234);
  --gradient-color: rgb(75, 175, 179);
}

.menu > ol > li a {
  color: #FBFBFB;
  display: block;
  padding: 15px;
  position: relative;
  text-decoration: none;
  z-index: 1;
}
.menu > ol > li a:not(:last-child):before {
  content: "\f078";
  font-family: fontAwesome;
  font-size: 0.75em;
  line-height: 50px;
  position: absolute;
  right: 25px;
  top: 0;
  bottom: 0;
  margin: auto;
  transition: 0.5s;
}
.menu > ol > li:focus,
.menu > ol > li:focus-within,
.menu > ol > li:hover {
  z-index: 100;
}
.menu > ol > li:focus:after,
.menu > ol > li:focus-within:after,
.menu > ol > li:hover:after {
  background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
  max-width: 800px;
}
.menu > ol > li:focus .sub-menu,
.menu > ol > li:focus-within .sub-menu {
  max-height: 500px;
}
.menu > ol > li:focus a:before,
.menu > ol > li:focus-within a:before {
  transform: rotate(-180deg);
}
.menu > ol > li:after {
  background: #3c3c3c;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: 0.5s;
  max-width: 0;
  overflow: hidden;
}
.menu > ol .sub-menu {
  border-left: 1px solid #FBFBFB;
  margin-left: 22.5px;
  list-style: none;
  max-height: 0px;
  overflow: hidden;
  padding-left: 7.5px;
  position: relative;
  transition: 0.5s;
  z-index: 1;
}
.menu > ol .sub-menu li {
  font-size: 0.9em;
}
.menu > ol .sub-menu li:hover,
.menu > ol .sub-menu li a:focus {
  background: rgba(60, 60, 60, 0.3);
}
.menu > ol .sub-menu li a:after {
  bottom: 5px;
  height: 1px;
}
.menu > ol .sub-menu li a:hover:after,
.menu > ol .sub-menu li a:focus:after {
  width: 15px;
}
@media (min-width: 600px) {
  a:focus,
  a:hover {
    position: relative;
  }
  a:focus:after,
  a:hover:after {
    width: 50px;
  }
  a:after {
    left: 0;
    right: 0;
    margin: auto;
  }
  .menu {
    margin: 0;
    /* margin-top: 40vh; */
  }
  .menu > ol {
    display: block;
    max-width: none;
    text-align: center;
  }
  .menu > ol > li {
    border-top: 5px solid var(--accent-color);
    border-left: 0;
    display: inline-block;
    margin-left: -5px;
    vertical-align: top;
    width: 120px;
  }
  .menu > ol > li:hover:after,
  .menu > ol > li:focus:after,
  .menu > ol > li:focus-within:after {
    background: linear-gradient(to bottom, var(--accent-color), var(--gradient-color));
    border-radius: 3px;
    top: -15px;
    bottom: -15px;
    left: -15px;
    right: -15px;
  }
  .menu > ol > li:hover .sub-menu,
  .menu > ol > li:focus .sub-menu,
  .menu > ol > li:focus-within .sub-menu {
    max-height: 750px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 12.5px;
  }
  .menu > ol > li:hover a:before {
    transform: rotate(-180deg);
  }
  .menu > ol .sub-menu {
    border-left: 0;
    margin: 15px -15px -15px;
    padding-left: 0;
  }
}
@media (min-width: 775px) {
  .menu > ol > li {
    width: 150px;
  }
  .menu > ol > li a:not(:last-child):before {
    right: 25px;
  }
}


.intro {
  text-align: center;
  
}
.chat {
  text-align: center;
  margin-top: 100px;
}

.cli {
  text-align: center;
}

.tops {
  background-color: #ffb6c1;
}



#site-footer {
  padding: 25px 0;
  font-size: 85%;
  background-color: #fffafa;
  position: fixed;
  z-index: -1;
  left: 0;
  right: 0;
  bottom: 0;
}

.exp {
  text-align: center;
}

.ex {
  text-align: center;
}


.pi {
  width: 150px;
  height: 120px;
  border-radius: 50%;
  margin-left: 150px;
}


.co {
  margin-left: 100px;
  font-size: 50px;
  font-family: 'Zapfino',sans-serif;
}

.ac {
  text-align: center;
}


.fe {
  margin-left: 600px;
}


.pict {
  
}


 


.rr {
  text-align: center;
  font-size: 500px;
}






.introduce {
  text-align: center;
  margin-top: 30px;
}


.user_introduce {
  margin-top: 10px;
}


.INTO {
  margin-left: 46%;
}




.flex_test-box {
  
  display: flex; 
  width: 100%;             /* フレックスボックスにする */
  
}

.flex_test-item {
  padding: 10px;
  color:  #fff;               /* 文字色 */
  margin:  10px;              /* 外側の余白 */
  border-radius:  5px;        /* 角丸指定 */
  width: 50%;                 /* 幅指定 */
}

.flex_test-item:nth-child(1) {
  background-color:  #2196F3; /* 背景色指定 */
}

.flex_test-item:nth-child(2) {
  background-color:  #4CAF50; /* 背景色指定 */
}


.birth_date_field {
  margin-left: 600px;
  margin-bottom: 500px;
}



.items {
  display: flex;
  justify-content: space-between;
}
.items .item {
  width: 50%;
}


.items3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.items3 .item {
  width: 30%;
}


.form-group{
  margin-bottom: 35px;
  margin-left: 200px;
}

.set_edit {
  text-align: center;
  margin-bottom: 10px;
}


.Back {
  margin-left: 50%;
}

.us_new {
  background-color: #fffff0;
  margin-left: 35%;
}

.sh {
  margin-left: 35%;
  background-color: #fff5ee;
}



.video-container {
  position: relative;
}

.video-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8); 
}

.video {
  width: 100%;
}

.match {
  margin-left: 42%;
}

.matching {
  background-color: #db7093;
}

.mat {
  background-color: #ccc;
  width:  190px;
}

.prof {
  padding-left: 20px;
}

.us_na {
  text-align: center;
}

.field {
  margin-right: 700px;
}




.right {
  margin-left: 80%;
}

.left {
  margin-left: 10%;
}


.bo {
  margin-right: 800px;
  margin-top: 100px;
  padding-left: 40px;
  padding-top: 20px;
  width: 45%;
  border: 1px solid #ccc; /* 枠線 */
  background-color: #fff; /* 背景色 */
  box-shadow: 1px 1px 2px #ccc;
  height: 700px;
}

.heart {
  color: red;
}

.fo {
  display:inline-block;
}



.loved {
  background-image: url("/parts7.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
  margin-left: 690px;
}

.hide-text {
  display: block;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}



.love {
  background-image: url("/parts5.png");
  background-repeat: no-repeat;
  height: 36px;
  width: 36px;
  background-size: 36px !important;
  margin-left: 690px;
}



.www {
  display: inline-block;
  word-wrap: break-word;
  margin: 2em auto; 
  padding: 1em 1.5em;
  width: 200px; /*幅の調節*/
  color: #777777; /* 文字色 */
  background-color: #fff; /* 背景色 */
  border: 4px solid #f6bfbc; /*線の太さ・色*/
  border-radius: 3em .8em 3em .7em/.9em 2em .8em 3em;
}

.message {
  background-color: #fffff0;
}

.Previously {
  background-color: #add8e6;
  text-align: center;
}


.meeting {
  margin-left: 60px;
  margin-top: 50px;
}

.na {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
}

.gender {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
}

.Introduction {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
  word-break: keep-all;
}

.follower {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
}

.follow {
  padding-bottom: .5em;
  border-bottom: 2px solid #7ED1E6;
}

.jiko {
  word-break: keep-all;
}



.match_h1{
  position: relative;
  display: inline-block;
  padding: 0 2.5em;
  text-align: center;
  }
  
  .match_h1:before, .match_h1:after{
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 15%;
  height: 1px;
  background-color: #7ED1E6;
  }
  
  .match_h1:before {left:0;}
  .match_h1:after {right: 0;}
