// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.item {
  font-size: 20px;
  display: block;
  background-color: #f4a460;
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #eee;
  width: 100%;
  padding: 1em;
  text-align: center;
}
